/* ------------------------------------------------- */
/* map object */
.map-section {

    // margin-top: $spacing;
    margin-bottom: $spacing;
}

.container-custom-map {
    @include create-container-custom(xl)
}

.map {
    position: relative;
    width: 100%;
    height: 770px;
    overflow: hidden;
}

.mapImage {
    width:100%;
}

.mapImage,
.houses,
.carHolder,
.menu-desktop-section,
.keycolour-section,
.houseInfo-section,
.dander-desktop,
.arrow-section {
    width: 1110px;
    position: absolute;
    display: block;

}

@media (max-width: 992px) {
    .map {
        height: 600px;
        overflow: scroll;
    }

    // .mapImage,
    // .houses,
    // .carHolder,
    // .menu-desktop-section,
    // .keycolour-section,
    // .houseInfo-section,
    // .dander-desktop,
    // .arrow-section {
    //     width: 992px;
    // }
}

@media (max-width: 768px) {
    .map {
        height: 300px;
        overflow: scroll;
    }
}

.dander-desktop {
    @media (max-width: 992px) {
        display: none;
    }
}

.houses {
    z-index: 3;
}

.houseInfo-section {

    z-index: 3;
    cursor: pointer;
}

.carHolder {

    opacity: 0;
}

.carpathsvg {
    position: absolute;
    visibility: hidden;
}

/* menu object */
.menu-desktop-section {

    z-index: 4;//10;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 0.7rem;
}

.nav1Element {

    padding: 7px 10px 0px 10px;
}

.nav2Element {

    padding: 0px 10px 0px 10px;
    display: block;
    cursor: pointer;
}

.container-nav {

    margin-right: auto;
    margin-left: auto;
    background: #fff;
    padding: 10px;
}

/* menu mobile ----------------------- */
.menu-mobile-section {
    font-family: 'Montserrat Regular';
    // font-size: 0.7rem;
    cursor: pointer;
}

.menu-mobile {

    border: 1px #000 solid;
    width:100%;
    // padding-top: 0.5rem;
    // margin-right: 1%;
    // margin-left: 1%;

}

.buttonHidden {
    visibility: hidden;
}

.menuRow {
    padding-top: 5px;// 0px 0px 0px;
}

.mapOption {
    padding-left:$spacing;
    // padding-right:15px;
    /*border: 1px red solid;*/
}

.mapOptionCopy {
    padding-top: 7px;
    text-align: right;
    /*border: 1px red solid;*/
}

/* ----------------------- */

// .mapButton1 {

//     background: #fff000;

// }

// .mapButton2,.mapButton3,.mapButton4,.mapButton5 {

//     background: #fff;

// }

.container-houseinfo {

    background: url('/assets/images/scheme/mapinfo.svg'), url('/assets/images/scheme/popupdropshadow.png') 2px -2px;
    background-size: cover;
    height: 70px;
    width: 200px;
    position: absolute;
    padding-top: 4px;
    font-size: 0.7rem;
    font-family: "Montserrat Regular";


    .houseInfo3 {
        a {
            font-size: 0.75rem;
        }
    }

}

.houseInfoHeader {

    font-size: 0.7rem;
    // font-family: "Montserrat Bold";
}

// .houseInfo3 {

//     font-family: "Montserrat Bold";
// }

/* dropdown object */
// .dropdown-section {
//     padding-top: 1rem;
// }

// .dropdown-section .container-dropdown {}

// .dropdown {
//     width: 90%;
// }

.dropdown-section .dropdown-menu {
    width: 100%;//90vw;
    padding:0;
    border-color:#000;
}

.dropdownKeyButton {

    //border-radius: 0 !important;
    width: 100%;//90vw;
    //font-family: 'Montserrat Regular';
    // font-size: 0.7rem;
    text-align: left;
    background: #dcb18e;
}

.keydropdown .dropdown-toggle::after {

    margin-left: 90%;
}

.keydropdown .dropdown-item {

    font-family: 'Montserrat Regular';
    font-size: 0.7rem;
    width: 100%;//90vw;
}

/* dander object */
.dander-arrow {

    padding-top: 39.5rem;

}

.dander-arrow .container-arrow {
    margin-left: 710px;
    width: 200px;
    transform: rotate(20deg);
}

.dander-section-desktop {
    padding-top: 43rem;
    min-width: 1110px;

}

.dander-section {
    // padding-top: 43rem;

    .btn {
        width:100%;
        margin-top:0;
    }
}

.container-dander {

    // background-color: #b49052;
    width: 22rem;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 43rem;

    .btn {
        margin-top:0;
        margin-bottom:0;

        font-size:0.7rem;

        span {
            font-size:0.7rem;
            font-style: italic;
        }
    }

}

 .danderRow {
//     background-color: #b49052;
//     margin-right: 15px;// 1%;
//     margin-left: 15px; //1%;
     margin-bottom: $spacing;// 1rem;
//     display: flex;
//     justify-content: center;
 }

// .danderRow1 {
//     width: 100%;
//     justify-content: center;
//     padding: 8px 10px 0px 10px;
//     background-color: #b49052;
// }

// .danderRow2 {
//     width: 100%;
//     justify-content: center;
//     font-style: italic;
//     padding: 0px 10px 0px 10px;
//     background-color: #b49052;
// }

// .danderRow3 {
//     width: 100%;
//     justify-content: center;
//     font-size: 0.6rem;
//     padding: 0px 10px 5px 10px;
//     background-color: #b49052;
// }

//@media (max-width: 576px) {
    // .dander-section {
    //     padding-top: 1rem;
    //     padding-left: 0%;
    // }

    // .dander-section .container-dander {
    //     width: 90%;
    // }
//}

/* dander arrow */

// .arrow-section {}

.container-arrow {

    /*background-color:#b49052;
    width: 27rem;
    margin-left:auto;
    margin-right:0px;
    */
    background: url('/assets/images/scheme/danderarrow.svg');
    background-size: cover;

    margin-top: 39.5rem;
    margin-left: 695px;
    width: 10rem;
    height: 40px;
    transform: rotate(20deg);

}

/* key object */
.key-section {
    padding-top: 24rem;
    font-family: 'Montserrat Regular';
    font-size: 0.7rem;
    min-width: 1110px;

}

.container-key {

    width: 13rem;
    margin-left: auto;
    margin-right: 0px;
    border: 1px #000 solid;
    margin-top: 25rem;
    font-size: 0.7rem;
}

.keyCol1 {
    padding: 5px;
    justify-content: center;
    border-bottom: 1px #000 solid;
}

.keyCol1End {
    padding: 5px;
    justify-content: center;
    border: 0;
}

.keyCol2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #000 solid;
    border-left: 1px #000 solid;
}

.keyCol2End {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px #000 solid;
}

.keycolour1 {
    background: #b2d1e3;
}

.keycolour2 {
    background: #d9b38a;
}

.keycolour3 {
    background: #7e9775;
    color: #fff;
}

.keycolour4 {
    background: #004a53;
    color: #fff;
}

.keycolour5 {
    background: #ed7748;
}

.keycolour6 {
    background: #daa732;
}

.keycolour7 {
    background: #d11a3c;
    color: #fff;
}

.keycolour8 {
    background: #70838f;
    color: #fff;
}

.keycolour9 {
    background: #4281a0;
    color: #fff;
}

.keycolour10 {
    background: #c2b4cd;
}

.keycolour3bed {
    background: #d5c391;
}

.keycolour4bed {
    background: #b49052;
}